main{
    color: azure;
    background-color: black;
}
header {
    text-align: center;
}
img.a{
    width: 100%;
}
header > h1{
    padding: 6rem 0;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
}
.b ,.c{
    text-align: center;
}
footer{
    text-align: center;
}